# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
SELECT TOP 100 book_id, authors, title, average_rating AS "Average Rating"
FROM BooksDB.dbo.books
ORDER BY "Average Rating" DESC

-- ANSWER: The complete Calvin and Hobbes

Question 2: Write a query to find the least popular book.

In [ ]:
SELECT TOP 1 book_id, authors, title, average_rating AS "Average Rating"
FROM BooksDB.dbo.books
ORDER BY "Average Rating"

-- ANSWER: One Night at the Call Center

Question 3: Which tag is the most popular?

In [ ]:
SELECT TOP 1 tag_id, "count"
FROM BooksDB.dbo.book_tags
ORDER BY "count" DESC
-- ANSWER: 30574

Question 4: What is the name of the most popular tag?

In [ ]:
SELECT tag_id, tag_name
FROM BooksDB.dbo.tags
WHERE tag_id LIKE 30574
-- ANSWER: to-read

Question 5: How many books where released in the first decade of 2000?

In [ ]:
SELECT COUNT(*)
FROM BooksDB.dbo.books
WHERE (original_publication_year >1999) AND (original_publication_year <2010)-- return number of books published in the first decade of 2000

Question 6: How many book titles contain the word, "happy"?

In [ ]:
SELECT COUNT(*)
FROM BooksDB.dbo.books
WHERE title LIKE ('%Happy%')
-- ANSWER: 13

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
SELECT book_id, authors, title, average_rating AS "Average Rating"
FROM BooksDB.dbo.books
WHERE authors LIKE 'Bill Watterson' or authors LIKE 'Brandon Sanderson' or authors LIKE 'J%K%Rowling'
ORDER BY authors, "Average Rating" DESC
--ORDER BY "Average Rating" DESC, authors

/* The sort order does matter; author-first returns all of one author's books sorted by rating, then the next author's books sorted by rating, etc.
Rating-first returns the books in order of rating, regardless of author; the author obnly enters into it when there are multiple books with the same rating.*/

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
SELECT COUNT(*)
FROM BooksDB.dbo.books 
WHERE authors > 'Rock' AND authors < 'Roll'

-- ANSWER: 25

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- Question: Which author has the most books represented in this data?

SELECT TOP 1 authors, COUNT (*) AS "Number of books"
FROM BooksDB.dbo.books
GROUP BY authors
ORDER BY "Number of books" DESC

-- ANSWER: Steven King, with 60 books; I did expect it to be James Patterson.

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- Question: What is the average rating across all books (rounded to the nearest whole number), and how many books fall have that same average rating?

--Part 1: average rating
SELECT AVG(average_rating)
FROM BooksDB.dbo.books

-- ANSWER PART 1: 4.002191, rounded to 4

--Part 2: how may books have the "average" average rating
SELECT count(average_rating)
FROM BooksDB.dbo.books
WHERE average_rating=4

-- ANSWER PART 2: 147

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?