# SQL Part 3 Exercises: Joins

This notebook works with `BooksDB`.

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.

Note: If some of the queries are not returning quickly, you can try closing and restarting Visual Studio Code after a few minutes.

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## QUESTION 1:  Exploring a `LEFT JOIN` using the `books` and `to_read` tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the `/*` (line 1) and `*/` (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer:

**Part B:** Using table 2, answer the following questions: 
- When we added a `WHERE tr.user_id IS NOT NULL` clause (line 14), how did the table change?  Why?

> Your Answer:

In [ ]:

-- Query 1: LEFT JOIN
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;

/*
Part A: books (b) is the Left table, to_read (tr) is the Right table

Part B: adding IS NOT NULL removed some records that had NULL values, 
which indicated that those records did not appear on the Right table.
*/

## **QUESTION 2:** Exploring `RIGHT` joins with the `books` and `to_read` tables

You will need to uncomment the query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer:

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?

> Your Answer:

In [ ]:
-- Query 1: RIGHT JOIN
SELECT TOP 300 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;

/*

Part A: books (b) is the Left table, to_read (tr) is the Right table

Part B: the right-joined tables hav a lot of NULL values, meaning that a lot of 
books in the selected portion of the "to read" table do not have matching records
in the selected portion of the "books" table

*/

## **QUESTION 3:** Exploring FULL JOINS with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the `books` table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer:

In [ ]:
-- FULL JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id;

/*A full join could be useful when contrasting the tables' data. To use the examples
from the lesson ("Wedding guests" and "vow renewal guests"), maybe you want to see 
which people were invited to one but not the other, and thus would not have shown up
at all in one set of data. 

I think a full join might be considered whenever you expect to have a lot of non-matching records.*/

## **QUESTION 4:** Exploring INNER Joins with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> Your Answer: 

**Part B:** Currently this table has an `'IS NOT NULL'` in the `WHERE` clause. Is this necessary for this table? Why or Why not?

> Your Answer:

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.

> Your Answer:  Update the query in the code box below.

In [ ]:

-- INNER JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE b.title IS NOT NULL
ORDER BY tr.book_id;

/* 

Part A - an inner join returns records that have values on BOTH tables -- the middle portion of the Venn diagram.

Part B - the IS NOT NULL is unnecessary because a quick query reveals that there are no records where title has a NULL value

Part C - the only part I can definitively identify as redundant, without further context, is "WHERE b.title IS NOT NULL". */

--Updated query:
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
ORDER BY tr.book_id;

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want the *most popular* book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.

Minimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.

**Title:**

**Part B:** How many different tags have been used for the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want to find the *most popular* tag id, so think about ordering in a way that will display the most popular tag id.

*Minimum Desired Output:* The tag id for the most popular tag used for the most tagged book.

**Tag Id:**

**Part C:** What is this particular tag?

You may return this answer with a simple query.

*Minimum Desired Output:* The tag name for the most popular tag used for the most tagged book.

**Tag Name:**

In [ ]:
/* Part A: The most-tagged book is "Harry Potter and the Sorcerer's Stone", with 786374 total tags. best_book_id is 3 */
USE BooksDB

SELECT TOP 1 b.best_book_id, b.title, sum(t.count) AS total_tags
FROM books AS b
INNER JOIN book_tags AS t
ON b.best_book_id = t.goodreads_book_id
GROUP BY b.best_book_id, b.title
ORDER BY total_tags DESC

/* Part B: The tag_id for the most popular tag for this book is 30574 */
SELECT TOP 1 b.best_book_id, /*b.title,*/ t.tag_id, sum(t.count) AS total
FROM books AS b
INNER JOIN book_tags AS t
ON b.best_book_id = t.goodreads_book_id
WHERE best_book_id=3
GROUP BY b.best_book_id, t.tag_id
ORDER BY total DESC

/* Part C: the tag name for tag_id 30574 is to-read */

SELECT tag_name
from tags
WHERE tag_id=30574

## QUESTION 6: Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

Here is an example.  Alyce wanted to search for Halloween books.  She used the wildcard, `%halloween%` and 8 different combinations were found.  Alyce selected `halloween-storytime`, with a tag id of 13877.

*Minimum Desired Output:* tag name and tag id

**Your Tag and Tag Id:**

**Part B:** Now that you have the tag id, find the title that was tagged the most with this tag by joining the `books` and `books_tags` tables.

Alyce joined the book table with the tags table and discovered that "The Little Old Lady Who Was Not Afraid of Anything" was tagged as `halloween-storytime` the most.

*Minimum Desired Output:* title and tag count

**Your Title and Number of times the tag was used:**

In [ ]:
/* Part A: tag_name space-opera, tag_id 28247 */

SELECT *
from tags
WHERE tag_name LIKE '%space%opera%'

/* Part B: The book with the most uses of this tag is "Leviathan Wakes", with t.count = 468*/

SELECT TOP 1 b.best_book_id, b.title, t.tag_id, t.count
FROM books AS b
INNER JOIN book_tags AS t
ON b.best_book_id = t.goodreads_book_id
WHERE t.tag_id=28247
ORDER BY t.count DESC

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the `to_read` and `books` tables are organized, and then join them.  What will you use as a key?

Your Answer:

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

*Hint:* Suggest using an alias for the aggregation you will need to run on the `user_id`

*Minimum Desired Output:* title and aliased column

In [ ]:
/*Part A: the key will be book_id */

/*Part B: the top title on the "to read" list is "The Ultimate Hitchhiker's Guide to the Galaxy", 
with a count of 1812 user ID's (total_marked_to_read). Full top-10 output follows. */

/*
title	                                                                        total_marked_to_read
The Ultimate Hitchhiker's Guide to the Galaxy	                                1812
The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)	    1767
The Lord of the Rings: The Art of The Fellowship of the Ring	                1499
Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)	                        1498
Harry Potter and the Goblet of Fire (Harry Potter, #4)  	                    1484
The Known World	                                                                1352
Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)	                    1293
The Lord of the Rings: Weapons and Warfare	                                    1211
Notes from a Small Island	                                                    1148
Harry Potter Collection (Harry Potter, #1-6)	                                1110

*/

SELECT TOP 10 b.title, count(tr.user_id) AS total_marked_to_read
FROM books AS b
INNER JOIN to_read AS tr
ON b.book_id = tr.book_id
GROUP BY b.title
ORDER BY total_marked_to_read DESC

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by `user_id`.

_Hint:_ You might want an alias for the titles.

_Minimum Desired Output:_ `user_id` and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire 'to read' list.

In [ ]:
/*Part A: longest list is user 14771 with 15 titles (tied), full list follows.*/

/*

user_id	    total_titles_marked
14771	    15
11932	    15
38201	    15
12483	    15
36923	    14
41523	    14
37359	    14
27933	    14
12103	    13
25734	    13

*/

SELECT TOP 10 tr.user_id, count(b.title) AS total_titles_marked
FROM books AS b
INNER JOIN to_read AS tr
ON b.book_id = tr.book_id
GROUP BY tr.user_id
ORDER BY total_titles_marked DESC

/*Part B: I selected user_id 14771.*/

SELECT tr.user_id, b.title, b.authors
FROM books AS b
INNER JOIN to_read AS tr
ON b.book_id = tr.book_id
WHERE tr.user_id=14771